{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}

{% macro render_field(field) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class='control-label') }}
    {{ field(class='form-control') }}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endmacro %}

{% block styles %}
{{super()}}
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% block mystyles %}{% endblock %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.js"></script>
{% block myscripts %}{% endblock %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">E-repair - {{ organization.name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">{% trans %}Pending interventions{% endtrans %}</a></li>
                <li><a href="/map">{% trans %}Map{% endtrans %}</a></li>
                <li><a href="/users">{% trans %}Employee management{% endtrans %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {% filter upper %}
                        {{ lang }}
                        {% endfilter %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for language in languages %}
                        <li><a href="{{ request.path }}?lang={{ language }}">
                        {% filter upper %}
                        {{ language }}
                        {% endfilter %}
                        </a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span class="glyphicon glyphicon-user"></span> {{ user.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/change_password">{% trans %}Change password{% endtrans %}</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">{% trans %}Logout{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
{{util.flashed_messages()}}
{% block mycontent %}{% endblock %}
{% endblock %}