{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Change password</h1>
        <form class="col-sm-12 col-lg-7 form-horizontal" action="/change_password" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" disabled value="{{ user.email }}" />
            </div>
            {{ render_field(form.old_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.new_password_2) }}
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
    </div>
</div>
{% endblock %}

