{% extends "base.html" %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>{% trans %}Change password{% endtrans %}</h1>
        <form class="col-sm-12 col-lg-7 form-horizontal" action="/change_password" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="email">{% trans %}E-mail{% endtrans %}</label>
                <input type="email" class="form-control" id="email" disabled value="{{ user.email }}" />
            </div>
            {{ render_field(form.old_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.new_password_2) }}
            <button type="submit" class="btn btn-primary">{% trans %}Change password{% endtrans %}</button>
        </form>
    </div>
</div>
{% endblock %}

