{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block myscripts %}
<script type="text/javascript">
$.ajax('/details/{{ repair['rid'] }}/images').done(function(data) {
    $('#images').html(data);
});
</script>
{% endblock %}

{% block mystyles %}
<style type="text/css">
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
</style>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Intervention details</h1>

        <dl>
            <dt>Type</dt>
            <dd>{{ repair['catname'] }}</dd>
            <dt>Reported on</dt>
            <dd>{{ repair['createddatetime'] }}</dd>
            <dt>Reported by</dt>
            <dd><a href="mailto:{{ repair['useremail'] }}">{{ repair['username'] }}</a></dd>
            <dt>Location</dt>
            <dd>{{ repair['location'] }}</dd>
        </dl>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                {{ repair['description'] }}
            </div>
        </div>

        <h2>Status</h2>
        <form class="form-inline">
            <div class="input-group">
                <select class="form-control">
                    <option class="form-control" selected="selected">New</option>
                    <option>In progress</option>
                    <option>Fixed</option>
                    <option>Rejected</option>
                </select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary">Change</button>
                </span>
            </div>
        </form>

        <div class="col-sm-12 col-lg-5">
            <h2>Map</h2>
            <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBlEY5LJ1ChcLEd-J0Inv8P08OFDzyOEOQ&q={{ repair['GPS_coordinate_altitude'] }},{{ repair['GPS_coordinate_longitude'] }}&q="></iframe>
        </div>
        <div class="col-sm-12 col-lg-6 col-lg-offset-1">
            <h2>Images</h2>
            <div id="images"> {# Dummy div #}
                <div class="col-xs-4 col-xs-offset-4">
                    <p>&nbsp;</p>
                    <i class="fa fa-cog fa-spin fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

