<div id="carousel" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for pic in pictures %}
        <li data-target="#carousel" data-slide-to="{{ loop.index0 }}{% if loop.first %} active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for pic in pictures %}
        <div class="item{% if loop.first %} active{% endif %}">
            <img src="data:image/png;base64,{{ pic['picture'] }}" />
            <div class="carousel-caption">
                <h2>{{ pic['picname'] }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{% trans %}Previous{% endtrans %}</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{% trans %}Next{% endtrans %}</span>
    </a>
</div>