{% extends "base.html" %}

{% block title %}{% trans %}Pending interventions{% endtrans %}{% endblock %}


{% block myscripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable({
            "language": {
                "url": "/static/js/dataTables.{{ lang }}.json"
            }
        });
    } );
</script>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>{% trans org_name=organization['name'] %}Interventions for {{ org_name }}{% endtrans %}</h1>
        <table class="table table-hover" id="table">
            <thead>
            <tr>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Summary{% endtrans %}</th>
                <th>{% trans %}Location{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for repair in repairs %}
            <tr onclick="location.href='/details/{{ repair['rid'] }}'">
                <td>{{ repair['catname'] }}</td>
                <td>{{ repair['status'] }}</td>
                <td>{{ repair['description'] }}</td>
                <td>{{ repair['location'] }}</td>
                <td>{{ repair['createddatetime'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

