{% extends "base.html" %}

{% block title %}Pending interventions{% endblock %}


{% block myscripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable();
    } );
</script>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Interventions for {{ organization['name'] }}</h1>
        <table class="table table-hover" id="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Status</th>
                <th>Summary</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for repair in repairs %}
            <tr onclick="location.href='/details/{{ repair['rid'] }}'">
                <td>{{ repair['catname'] }}</td>
                <td>{{ repair['status'] }}</td>
                <td>{{ repair['description'] }}</td>
                <td>{{ repair['location'] }}</td>
                <td>{{ repair['createddatetime'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

