{% extends "base.html" %}

{% block title %}E-Repair{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">E-repair</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-2 col-sm-6">
        <div class="col-sm-offset-4">
            <h1 class="text-center">{% trans %}Welcome to E-Repair!{% endtrans %}</h1>
        </div>

        <form class="form-horizontal" action="/login" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label(class='col-sm-4 control-label') }}
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    {{ form.username(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.password.label(class='col-sm-4 control-label') }}
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    {{ form.password(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4">
                    <button type="submit" class="btn btn-default">{% trans %}Login{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

