{% extends "base.html" %}

{% block title %}Map{% endblock %}

{% block mystyles %}
<style type="text/css">
    #map {
        position: absolute;
        top:150px;
        bottom: 40px;
        left: 8%;
        right: 8%;
    }
</style>
{% endblock %}

{% block myscripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlEY5LJ1ChcLEd-J0Inv8P08OFDzyOEOQ"></script>
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: { lat: 46.9930, lng: 6.9319 },
            zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();

        {% for repair in repairs %}

        var pos{{ loop.index }} = new google.maps.LatLng({{ repair['GPS_coordinate_altitude'] }}, {{ repair['GPS_coordinate_longitude'] }});
        var content{{ loop.index }} = '<dl>' +
         '<dt>Type</dt><dd>{{ repair['catname'] }}</dd>' +
         '<dt>Reported on</dt><dd>{{ repair['createddatetime'] }}</dd>' +
         '<dt>Reported by</dt><dd><a href="mailto:{{ repair['useremail'] }}">{{ repair['username'] }}</a></dd>' +
         '<dt>Summary</dt><dd>{{ repair['description'] }}</dd></dl><a href="/details/{{ repair['rid'] }}">Details</a>';

        var marker{{ loop.index }} = new google.maps.Marker({
            position: pos{{ loop.index }},
            map: map,
            title:"{{ repair['catname'] }}"
        });
        bounds.extend(pos{{ loop.index }});

        google.maps.event.addListener(marker{{ loop.index }}, 'click', function() {
            infowindow.setContent(content{{ loop.index }});
            infowindow.open(map, marker{{ loop.index }});
        });
        {% endfor %}

        map.fitBounds(bounds);

        var listener = google.maps.event.addListener(map, "idle", function () {
            map.setZoom(15);
            google.maps.event.removeListener(listener);
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>Interventions map</h1>
    </div>
</div>

<div id="map"></div>

{% endblock %}
