{% extends "base.html" %}

{% block title %}{% trans %}User management{% endtrans %}{% endblock %}

{%  block myscripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable({
            "language": {
                "url": "/static/js/dataTables.{{ lang }}.json"
            }
        });
    });
</script>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>{% trans %}User management{% endtrans %}</h1>
        <table class="table table-hover" id="table">
            <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}E-mail{% endtrans %}</th>
                <th>{% trans %}Tel. number{% endtrans %}</th>
                <th>{% trans %}Mobile number{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee['name'] }}</td>
                <td><a href="mailto:{{ employee['email'] }}">{{ employee['email'] }}</a></td>
                <td><a href="tel:{{ employee['tel_number'] }}">{{ employee['tel_number'] }}</a></td>
                <td><a href="tel:{{ employee['mobile_number'] }}">{{ employee['mobile_number'] }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{% trans %}New user{% endtrans %}</h2>
        <form class="col-sm-12 col-lg-7" action="/users" method="post">
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password2) }}
            {{ render_field(form.tel_number) }}
            {{ render_field(form.mobile_number) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.birthdate) }}
            {{ render_field(form.website) }}
            <button type="submit" class="btn btn-primary">{% trans %}Add user{% endtrans %}</button>
        </form>
    </div>
</div>
{% endblock %}

