{% extends "base.html" %}

{% block title %}User management{% endblock %}

{%  block myscripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable();
    } );
</script>
{% endblock %}

{% block mycontent %}
<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>User management</h1>
        <table class="table table-hover" id="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Tel. number</th>
                <th>Mobile number</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee['name'] }}</td>
                <td><a href="mailto:{{ employee['email'] }}">{{ employee['email'] }}</a></td>
                <td><a href="tel:{{ employee['tel_number'] }}">{{ employee['tel_number'] }}</a></td>
                <td><a href="tel:{{ employee['mobile_number'] }}">{{ employee['mobile_number'] }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>New user</h2>
        <form class="col-sm-12 col-lg-7" action="/users" method="post">
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.password2) }}
            {{ render_field(form.tel_number) }}
            {{ render_field(form.mobile_number) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.birthdate) }}
            {{ render_field(form.website) }}
            <button type="submit" class="btn btn-primary">Add user</button>
        </form>
    </div>
</div>
{% endblock %}

